.hero {
  &__section1 {
    margin-top: 0px;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;

    // @include tablet {
    //   margin-top: 150px;
    // }

    // @include mobile {
    //   margin-top: 400px;
    // }

    &__content {
      margin-top: 150px;
      text-align: center;
      background-color: palegreen;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 700px;

      &__title {
        font-size: 80px;
        font-weight: bold;

        background-color: red;
      }
      &__subtitle {
        font-size: 40px;
      }
      &__text {
        font-size: 18px;
      }
    }

    &__buttons {
      margin-top: 45px;
      &__button {
        border-radius: 40px;
        background-color: fuchsia;
        padding: 10px;
        font-size: 20px;
        width: 200px;
        margin: 25px;
      }
    }
  }

  &__section2 {
    height: 500px;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      width: 500px;
      font-size: 40px;
      margin-top: 100px;
    }
    p {
      width: 200px;
      width: 500px;
      font-size: 20px;
      margin-top: 20px;
    }
  }

  &__section3 {
    height: 700px;
    width: 100%;
    background-color: red;
  }

  &__section4 {
    height: 700px;
    width: 100%;
    background-color: green;
  }
}
