@import "../../base/_variables.scss";

.hero {
  display: flex;
  flex-direction: column;
  margin: 0;
  &__section1 {
    margin-top: 0px;
    height: 800px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $fuchsia;
    color: $white;

    &__content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 700px;

      @include tablet {
        margin-top: -80px;
      }
      &__title {
        font-size: 80px;
        font-weight: bold;
        @include tablet {
          font-size: 40px;
        }
      }
      &__subtitle {
        font-size: 40px;
        @include tablet {
          font-size: 30px;
        }
      }
      &__text {
        font-size: 18px;
      }
    }

    &__buttons {
      margin-top: 45px;
      &__button {
        border-radius: 40px;

        padding: 10px;
        font-size: 20px;
        width: 200px;
        margin: 25px;
      }
    }
  }

  &__section2 {
    height: 600px;
    max-width: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;

      img {
        margin-top: 20px;
      }
      h2 {
        width: 500px;
        font-size: 40px;
        margin-top: 10px;
        @include tablet {
          max-width: 370px;
          font-size: 25px;
        }
      }

      p {
        width: 500px;
        font-size: 20px;
        margin-top: 20px;
        @include tablet {
          max-width: 360px;
        }
      }
    }
  }

  &__section3 {
    height: 350px;
    width: 100%;
    background-color: $fuchsia;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    h2 {
      width: 500px;
      font-size: 50px;
      font-weight: bold;
      @include tablet {
        max-width: 370px;
        font-size: 25px;
      }
    }

    p {
      width: 480px;
      font-size: 19px;
      @include tablet {
        max-width: 370px;
      }
    }
  }

  &__section4 {
    height: 300px;
    width: 100%;
    background-color: $white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
      width: 550px;
      @include tablet {
        max-width: 370px;
        font-size: 30px;
      }
    }
  }
}

.border {
  width: 100%;
  height: 15px;
  background-color: $fuchsia;
}

.free {
  background-color: $yellow;
}

.pro {
  background-color: $darkOrange;
  border: 1px solid $white;
}
