.hero {
  display: flex;
  flex-direction: column;
  margin: 0;
  &__section1 {
    margin-top: 0px;
    height: 800px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;

    @include tablet {
      margin-bottom: 40px;
    }

    // @include mobile {
    //   margin-top: 400px;
    // }

    &__content {
      text-align: center;
      background-color: palegreen;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 700px;

      &__title {
        font-size: 80px;
        font-weight: bold;

        background-color: red;
      }
      &__subtitle {
        font-size: 40px;
      }
      &__text {
        font-size: 18px;
      }
    }

    &__buttons {
      margin-top: 45px;
      &__button {
        border-radius: 40px;
        background-color: fuchsia;
        padding: 10px;
        font-size: 20px;
        width: 200px;
        margin: 25px;
      }
    }
  }

  &__section2 {
    height: 600px;
    max-width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;

      img {
        margin-top: 20px;
      }
      h2 {
        width: 500px;
        font-size: 40px;
        margin-top: 10px;
        @include tablet {
          max-width: 370px;
        }
      }

      p {
        width: 500px;
        font-size: 20px;
        margin-top: 20px;
        @include tablet {
          max-width: 360px;
        }
      }
    }
  }

  &__section3 {
    height: 350px;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
      width: 500px;
      font-size: 50px;
      font-weight: bold;
    }

    article {
      width: 480px;
      font-size: 19px;
    }
  }

  &__section4 {
    height: 700px;
    width: 100%;
    background-color: green;
  }
}
