@import "./_variables";

@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}
