// Typography
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 5px 0;
  letter-spacing: 1px;
}
