//Color
$black: black;
$white: white;
$button: #078080;
$secondary: #8bd3dd;
$peppermint: #23dddd;
$dodgerblue: #1e90ff;
$lightcyan: #e0ffff;
//Sizes
$header-tablet: 18px;
$main-tablet: 15px;

//letter-sizes
$tablet: 768px;
$mobile: 375px;
$desktop: 992px;
