.header {
  display: flex;
  flex-direction: column;
  background-color: gray;
  height: 120px;

  &__search__register {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: gray;
    flex-wrap: wrap;
    align-items: center;

    height: 50px;

    img {
      width: 60px;
    }

    &__box {
      display: flex;
      input {
        width: 800px;
        height: 40px;
      }

      button {
        width: 100px;
        background-color: black;
        color: white;
        font-weight: bold;
      }
    }

    &__signup {
      width: 200px;
      border: 1px solid black;
      background-color: red;
    }

    &__signin {
      width: 100px;
    }
  }
}
