.header {
  display: flex;
  flex-direction: column;
  background-color: gray;
  height: 120px;

  @include tablet {
    flex-wrap: wrap;
    height: 200px;
  }

  &__search__register {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: gray;
    align-items: center;

    @include tablet {
      flex-wrap: wrap;
      // max-width: 100%;
    }

    img {
      width: 60px;
    }

    &__box {
      display: flex;

      input {
        width: 800px;
        height: 40px;
        @include tablet {
          width: 200px;
        }

        @include mobile {
          width: 80px;
        }
      }

      button {
        width: 100px;
        background-color: black;
        color: white;
        font-weight: bold;
      }
    }

    &__signup {
      border: 1px solid darkgray;

      font-weight: bold;
      width: 100px;
      height: 40px;
    }

    &__signin {
      width: 100px;
      height: 40px;
      font-weight: bold;
    }
  }
}
