@import "../base/variables";
.header {
  display: flex;
  flex-direction: column;
  background-color: $white;
  height: 120px;

  @include tablet {
    flex-wrap: wrap;
    height: 200px;
  }
  //
  &__search__register {
    border-top: 1px solid $gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;

    @include tablet {
      flex-wrap: wrap;
    }

    img {
      width: 60px;
    }

    &__box {
      display: flex;

      input {
        width: 800px;
        height: 40px;
        background-color: $lightGrey;
        @include tablet {
          width: 200px;
        }

        @include mobile {
          width: 80px;
        }
      }

      button {
        width: 100px;
        background-color: $black;
        color: $white;
        font-weight: bold;
      }
    }

    &__signup {
      border: 1px solid $gray;

      font-weight: bold;
      width: 100px;
      height: 40px;
    }

    &__signin {
      width: 100px;
      height: 40px;
      font-weight: bold;
    }
  }
}
