@import "../base/variables";

footer {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $white;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid $gray;
  font-size: 20px;

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    height: 700px;
    padding-left: 20px;
  }

  img {
    width: 70px;
  }

  li {
    margin-bottom: 10px;
  }
}

.footer__logos {
  display: flex;
  flex-direction: column;
}

.footer__list__first {
  font-weight: bold;
}
